# ======== Cấu hình Môi trường cho Mobile App ========
# Đặt thành 'true' để dùng API ở máy tính (Local)
# Đặt thành 'false' để dùng API đã deploy trên Server
USE_LOCAL_API=true

# ======== DEPLOYED API (PROD) ========
PROD_API_BASE_URL=http://api.duongquockiet.id.vn/api/v1
PROD_STATIC_BASE_URL=http://api.duongquockiet.id.vn
PROD_AI_CHAT_URL=http://api.duongquockiet.id.vn

# ======== LOCAL API ========
# Dành cho máy ảo Android: 10.0.2.2
# Dành cho iOS Simulator: 127.0.0.1
# Dành cho máy thật: IP mạng LAN (ví dụ 192.168.1.15)
LOCAL_API_BASE_URL=http://192.168.1.225:8080/api/v1
LOCAL_STATIC_BASE_URL=http://192.168.1.225:8080
LOCAL_AI_CHAT_URL=http://192.168.1.225:8000/api/v1

